@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app {
  height: 100%;
  background: url(./images/city.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: "Courgette", cursive;
  position: flex;
}
.btn {
  padding: 10px 50px;
  margin-top: 20px;
  position: relative;
  border: 2px solid rgb(14, 13, 13);
  color: rgb(25, 23, 23);
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(218, 118, 42);
  border: 2px solid rgb(183, 109, 51);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}
